<div class="h-svh bg-gradient-to-b from-yellow-300 to-yellow-500">
  <app-header></app-header>
  <main class="z-1 w-full">
    <div class="mt-32 ml-64 h-[35rem] w-lg">
      <h1 class="text-7xl font-normal">
        <strong class="font-bold">Find</strong> all your favorite
        <strong class="font-bold">Pokemon</strong>
      </h1>
      <p class="mt-16 text-[2rem]">
        You can know the type of Pokemon, its strengths, disadvantages and
        abilities
      </p>
      <button
        class="mt-16 h-16 w-56 cursor-pointer rounded-xl border-b-8 border-emerald-600 bg-emerald-400 text-2xl font-bold shadow-emerald-600"
      >
        See Pokemons
      </button>
    </div>
    <img src="BannerComplete.svg" class="fixed top-40 right-0" />
  </main>
</div>
